<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultDbConnection" connectionString="Data Source=DESKTOP-LORI9GP; Initial Catalog=AzureCliente; user id=sa;password=123456; TrustServerCertificate=True;"/>
		<add name="AzureBusConnection" connectionString="Endpoint=sb://practicaazure.servicebus.windows.net/;SharedAccessKeyName=DirectivaServiceBus;SharedAccessKey=dRoNmhwqXKMP29XF1kQHeYC6fgvZwZiCstHWD5TnEoo=;EntityPath=primerazure"/>
	</connectionStrings>
	<appSettings>
		<add value="20000" key="timer"/>
	</appSettings>
</configuration>